<div class="container-session mt-11">
<h4>Sign in to openTenant</h4>
<%= form_with url: login_path, method: :post do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email, class: 'input-block' %>
    <%= form.label :password %>
    <%= form.password_field :password, class: 'input-block' %>
    <%= form.submit "Sign in", class: 'btn btn-block' %>
<% end %>
</div>