<h2>Create an organization</h2>
<%= form_with model: @organization do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<%= form.label :email %>
<%= form.text_field :email %>
<%= form.submit "Create organization" %>
<% end %>